{
  "extends": "stylelint-config-htmlacademy",
  "ignoreFiles": "./source/sass/base/normalize.scss",
  "rules": {
    "declaration-no-important": true,
    "indentation": [2, {"ignore": ["inside-parens"]}]
  }
}
