.academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.academy li {
  @include reset-list;
}

.academy__text {
  @include font-text ($font-secondary, 16px, 1, $color-greyish-brown);

  text-decoration: none;

  &:active {
    color: $color-greyish-brown-30;
  }

  @media (min-width: $width-tablet) {
    margin-right: 23px;
  }
}

.academy__img {
  fill: $color-brownish-grey;

  &:hover {
    fill: $color-leaf;
  }

  &:active {
    opacity: 0.3;
  }
}
