.academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.academy li {
  @include reset-list;
}

.academy__text {
  @include font-text ($font-secondary, 16px, 1, $color-greyish-brown);

  text-decoration: none;
}
