.add-prod {
  @include position-element;

  padding-top: 29px;
  padding-bottom: 35px;
}

.add-prod__title {
  @include font-text($font-primary, 24px, 1, $color-dark);
  @include line(false);
}

// отступы для примера
.add-prod__title-wrap {
  //@include clear-line-element(0 20px 0 20px);
  @include clear-line-element(0 20px 0 0);
}

.add-prod__wrap {
  margin-top: 33px;

  @media (min-width: $width-desktop) {
    display: flex;
  }
}

.add-prod__add-item {
  padding-bottom: 17px;
}

.add-prod__bonus {
  margin-top: 20px;
}
