.add-prod__title {
  @include font-text($primary-font, 24px, 1, $color-dark);
}

.add-item__title {
  @include font-text($primary-font, 16px, 1, $color-dark-gray);
}

.add-item__description {
  @include font-text($secondary-font, 14px, 1, $color-greyish-brown);
}

.add-item__cost {
  @include font-text($secondary-font, 14px, 1, $color-greyish-brown);
}
