.address__title {
  @include font-text($primary-font, 16px, 1.25, $color-dark);
}

.address__text {
  @include font-text($secondary-font, 14px, 1.43, $color-greyish-brown);
}

.address__wrap {
  @include position-element;
  display: flex;
  justify-content: space-between;
}
