.address {
  @media (min-width: $width-desktop) {
    position: relative;
  }
}

.address__wrap {
  @include position-element;

  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: -38px;
  padding-top: 28px;
  padding-bottom: 26px;
  background-color: $color-lightest;

  @media (min-width: $width-tablet) {
    margin-bottom: 0;
    padding: 48px 71px 54px 71px;
  }

  @media (min-width: $width-desktop) {
    position: absolute;
    width: 570px;
    height: 201px;
    top: 95px;
    left: 40px;
    padding: 65px 73px 58px 77px;
  }
}

.address__title {
  @include font-text($font-primary, 16px, 1.25, $color-dark);

  width: 40%;
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    @include font-text($font-primary, 20px, 1.25, $color-dark);

    width: 154px;
    text-align: left;
  }
}

.address__text {
  @include font-text($font-secondary, 14px, 1.43, $color-greyish-brown);

  width: 50%;

  @media (min-width: $width-tablet) {
    @include font-text($font-secondary, 16px, 1.25, $color-greyish-brown);

    width: 170px;
    text-align: right;
  }

  @media (min-width: $width-desktop) {
    text-align: left;
  }
}

.address__sity {
  @media (min-width: $width-tablet) {
    margin-top: 17px;
  }
}

.address--gray {
  @media (min-width: $width-tablet) {
    background-color: $bg-sections;
  }
}

.address__map {
  display: flex;

  @media (min-width: $width-tablet) {
    width: 767px;
    height: 400px;
  }

  @media (min-width: $width-desktop) {
    height: 400px;
    width: 1300px;
  }
}
