.bonus {
  width: 280px;
  height: 289px;
  background: $color-leaf url("../img/gift-photo-mobile@1x.jpg") no-repeat center;
  padding-top: 65px;
  margin-top: 39px;
  text-align: center;

  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 100%;
    margin-top: 73px;
    padding-left: 90px;
    padding-right: 124px;
    background: $color-leaf url("../img/gift-photo-tablet@1x.jpg") no-repeat center;
  }

  @media (min-width: $width-desktop) {
    display: block;
    width: 245px;
    height: 289px;
    margin: 0;
    padding-left: 45px;
    padding-right: 39px;
    background: $color-leaf url("../img/gift-photo-desktop@1x.jpg") no-repeat center;
  }
}

.bonus__pic {
  fill: $color-lightest;
}

.bonus__title {
  @include font-text($font-secondary, 16px, 1.25, $color-lightest);

  display: block;
  width: 132px;
  margin: 0 auto;
  margin-top: 57px;

  @media (min-width: $width-tablet) {
    width: auto;
    margin: 0;
    padding-top: 7px;
    text-align: left;

    & span {
      display: table;
    }
  }

  @media (min-width: $width-desktop) {
    margin-top: 51px;
    text-align: center;
  }
}
