.cat__label {
  @include font-text($font-primary, 16px, 1.13, $color-dark-gray);
  text-transform: uppercase;
}

.cat__input {
  @include font-text($font-primary, 16px, 1.13, $color-greyish-brown);
  text-transform: uppercase;
}

.cat {
  @include position-element;
  border: none;
  display: flex;
  flex-direction: column;
}
