.cat {
  @include position-element;

  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  border: none;
}

.cat__label {
  @include font-text($font-primary, 16px, 1.13, $color-dark-gray);

  text-transform: uppercase;
  white-space: nowrap;
  margin-right: 17px;
}

.cat__input {
  @include font-text($font-primary, 16px, 1.13, $color-greyish-brown);

  width: 100%;
  padding-left: 14px;
  padding-top: 12px;
  padding-bottom: 13px;
  border: 1px solid $color-pinkish-grey;
  text-transform: uppercase;
}

.cat__group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
