.catalog-main {
  overflow-x: hidden;
  overflow-y: hidden;
}

.catalog-main__products {
  @media (min-width: $width-tablet) {
    margin-top: 54px;
  }
}

.catalog-main__add-prod {
  @media (min-width: $width-tablet) {
    margin-top: 68px;
  }
}
