.extra {
  border: solid 1px $color-pinkish-grey;
}

.extra__title {
  @include font-text($font-primary, 16px, 1.25, $color-dark);
  text-transform: uppercase;
}

.extra__sub-title {
  @include font-text($font-secondary, 12px, 1.33, $color-greyish-brown);
}
