.footer {
  background-color: $bg-sections;
}

.footer__wrap {
  @include position-element;

  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.footer__inner-logo {
  border-bottom: 1px solid $color-border;
}
