.header {
  @media (min-width: $width-desktop) {
    position: relative;
    margin-bottom: 80px;
    padding-top: 53px;
  }
}

.header__wrap {
  position: relative;
  z-index: 100;
  padding-top: 11px;

  @media (min-width: $width-tablet) {
    @include position-element;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }

  @media (min-width: $width-desktop) {
    margin-top: 0;
  }
}

.header__wrap--main {
  @media (min-width: $width-desktop) {
    height: 643px;
  }
}

.header__logo {
  @media (min-width: $width-tablet) {
    margin-right: 96px;
  }

  @media (min-width: $width-desktop) {
    width: 610px;
    margin-right: 265px;
  }
}

.header__nav {
  @media (min-width: $width-tablet) {
    flex-grow: 1;
  }

  @media (min-width: $width-desktop) {
    width: 610px;
  }
}
