.header {
  @media (min-width: $width-desktop) {
    position: relative;
  }
}

.header__wrap {
  @include position-element;
  position: relative;
  z-index: 100;

  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.header__wrap--main {
  @media (min-width: $width-desktop) {
    height: 696px;
  }
}

.header__logo {
  @media (min-width: $width-desktop) {
    width: 610px;
  }
}

.header__nav {
  @media (min-width: $width-desktop) {
    width: 610px;
  }
}
