.it-works__inner {
  @include position-element;
}

.it-works__title {
  @include font-text($font-primary, 36px, 1.67, $color-dark);

  margin-bottom: 27px;

  @media (min-width: $width-tablet) {
    @include font-text($font-primary, 60px, 1, $color-dark);
  }
}

.it-works__items {
  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.it-works__item {
  @include reset-list;

  position: relative;
  margin-top: 23px;
  padding-top: 3px;
  padding-left: 80px;

  @media (min-width: $width-tablet) {
    width: 249px;
    min-height: 233px;

    margin-right: 75px;
    margin-bottom: 61px;
    padding-top: 135px;
    padding-left: 0;
  }

  @media (min-width: $width-desktop) {
    margin-right: -5px;
  }
}

.it-works__text {
  @include font-text($font-secondary, 14px, 1.29, $color-greyish-brown);

  @media (min-width: $width-tablet) {
    @include font-text($font-secondary, 16px, 1.5, $color-greyish-brown);

    text-align: start;
  }
}

.it-works__number {
  display: none;

  @media (min-width: $width-tablet) {
    @include font-text($font-primary, 281px, 1, $color-light-gray);

    display: block;
    position: absolute;
    top: -17px;
    right: 2px;
    z-index: -1;
  }
}

.it-works__item--leaf {
  @include icon-it-works("../img/advantage-leaf@1x.png");

  .it-works__number {
    right: 20px;
  }
}

.it-works__item--powder {
  @include icon-it-works("../img/advantage-powder@1x.png");
}

.it-works__item--dining {
  @include icon-it-works("../img/advantage-dining@1x.png");
}

.it-works__item--clock {
  @include icon-it-works("../img/advantage-clock@1x.png");
}
