.offer {
  background-color: $bg-sections;
  margin-top: 20px;
}

.offer__title {
  @include font-text ($primary-font, 24px, 1.54, $title-color);
  text-transform: uppercase;
}

.offer__text {
  @include font-text($secondary-font, 14px, 1.29, $text-color);
}

@media (min-width: $width-desktop) {
  .offer {
    width: 570px;
  }
}
