.offer {
  background-color: $bg-sections;
  margin-top: 20px;
}

.offer__title {
  @include font-text ($font-primary, 24px, 1.54, $color-dark);
  text-transform: uppercase;
}

.offer__text {
  @include font-text($font-secondary, 14px, 1.29, $color-greyish-brown);
}

@media (min-width: $width-desktop) {
  .offer {
    width: 570px;
  }
}
