.offers {
  @include position-element;

  @media (min-width: $width-desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.offers__item {
  &:last-child {
    margin-top: 22px;

    @media (min-width: $width-tablet) {
      margin-top: 30px;
    }
  }
}
