.owner__legend {
  @include font-text($primary-font, 24px, 1, $color-dark);
}

.owner__label {
  @include font-text($primary-font, 16px, 1.13, $color-dark-gray);
  text-transform: uppercase;
}

.owner__input {
  @include font-text($primary-font, 16px, 1.13, $color-greyish-brown);
  text-transform: uppercase;
}
