.page-main__offer {
  margin-top: 23px;

  @media (min-width: $width-tablet) {
    margin-top: 0;
  }
}

.page-main__it-works {
  margin-top: 18px;
  margin-bottom: 45px;
}

.page-main__example-wrap {
  background-color: $bg-sections;
}
