.page-main__offer {
  margin-top: 23px;

  @media (min-width: $width-tablet) {
    margin-top: 0;
  }
}

.page-main__it-works {
  margin-top: 18px;
  margin-bottom: 45px;

  @media (min-width: $width-tablet) {
    margin-top: 45px;
    margin-bottom: 0;
    padding-bottom: 14px;

    border-bottom: 1px solid $color-border;
  }

  @media (min-width: $width-desktop) {
    margin-top: 72px;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.page-main__example {
  padding-top: 18px;

  @media (min-width: $width-tablet) {
    padding-top: 43px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 35px;
  }
}
