.product {
  //@include position-element;

  border: solid 1px $color-pinkish-grey;
  border-bottom: none;
  padding: 21px 20px 24px 20px;
}

.product__wrap {
  display: flex;
}

.product__img {
  width: 140px;
  height: 144px;
  margin-top: -20px;
}

.product__title-link {
  text-decoration: none;
}

.product__title {
  @include font-text($font-primary, 16px, 1.25, $color-dark);

  text-transform: uppercase;
  margin-right: 40px;
}

.product__table {
  @include font-text($font-secondary, 12px, 1.33, $color-greyish-brown);

  width: 100%;
  margin-top: 12px;
  border-spacing: 0;
}

.product__option--title {
  text-align: left;
}

.product__option--value {
  text-align: right;
}

.product__order {
  @include font-text($font-primary, 16px, 1.25, $color-lightest);

  padding: 9px 20px 10px 22px;
}
