.product {
  border: solid 1px $color-pinkish-grey;
  padding: 0 20px;
}

.product__title {
  @include font-text($font-primary, 16px, 1.25, $color-dark);
  text-transform: uppercase;
}

.product__table {
  @include font-text($font-secondary, 12px, 1.33, $color-greyish-brown);
}
