.promo {
  @media (min-width: $width-tablet) {
    background: none;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 305px;
    background: $bg-promo url("../img/index-background-mobile@1x.jpg") no-repeat center;

    @media (min-width: $width-tablet) {
      display: none;
    }

    @media (min-width: $width-desktop) {
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background: $bg-promo url("../img/index-background-desktop@1x.jpg") no-repeat;
    }
  }
}

.promo__wrap {
  @include position-element;

  @media (min-width: $width-tablet) {
    position: relative;
  }

  @media (min-width: $width-desktop) {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    width: $width-desktop;
    margin: 0 auto;
  }
}

.promo__title {
  @include font-text($font-primary, 36px, 1, $color-lightest);

  position: relative;
  padding-top: 25px;
  text-align: center;

  @media (min-width: $width-tablet) {
    @include font-text($font-primary, 60px, 1, $color-dark);

    padding: 55px 160px 0 90px;
    text-align: left;
  }
}

.promo__text {
  @include font-text($font-primary, 14px, 1, $color-lightest);

  position: relative;
  padding-top: 27px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $width-tablet) {
    @include font-text($font-primary, 20px, 1, $color-dark);

    padding: 40px 0 0 90px;
    text-align: left;
  }
}

.promo__img {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 28px;

  @media (min-width: $width-tablet) {
    width: 709px;
    height: auto;
    margin-top: 20px;
  }
}

.promo__button {
  @include font-text($font-primary, 14px, 1.29, $color-lightest);

  margin-top: 4px;
  padding: 10px 0;
  text-transform: uppercase;
  text-align: center;
  background-color: $color-leaf;

  @media (min-width: $width-tablet) {
    @include font-text($font-primary, 20px, 1, $color-lightest);

    display: inline-block;
    position: absolute;
    top: 279px;
    left: 119px;
    padding: 17px 28px 15px 26px;
  }
}
