.site-list {
  padding: 0;

  @media (min-width: $width-tablet) {
    display: flex;
  }

  @media (min-width: $width-desktop) {
    justify-content: center;
  }
}

.site-list__item {
  @include font-text($font-primary, 20px, 1, $color-dark);
  @include reset-list;
}

.site-list__item--main {
  @media (min-width: $width-desktop) {
    color: $color-lightest;
  }
}
