.site-list {
  padding: 0;

  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $width-desktop) {
    justify-content: center;
  }
}

.site-list__item {
  @include reset-list;
  @include font-text($font-primary, 20px, 1, $color-dark);

  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid $color-border-menu;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;

  & a:hover {
    opacity: 0.6;
  }

  & a:active {
    opacity: 0.3;
  }

  &:last-child {
    border-bottom: 1px solid $color-border-menu;

    @media (min-width: $width-tablet) {
      border: none;
    }
  }

  &--main {
    @media (min-width: $width-desktop) {
      color: $color-lightest;
    }
  }

  @media (min-width: $width-tablet) {
    @include font-text($font-primary, 18px, 1.39, $color-dark-gray);

    padding-top: 20px;
    padding-bottom: 5px;
    border: none;

    &--active {
      border-bottom: 2px solid $color-leaf;
    }
  }
}

.site-list__item a {
  text-decoration: none;
  color: $color-dark;
}
