.social {
  display: flex;
  justify-content: space-between;
  padding-left: 73px;
  padding-right: 82px;
  padding-top: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid $color-border;
}

.social__item {
  @include reset-list;
}

.social__vk,
.social__insta,
.social__fb {
  fill: $color-brownish-grey;

  &:hover {
    fill: $color-leaf;
  }

  &:active {
    opacity: 0.3;
  }
}
