.social {
  display: flex;
  justify-content: space-between;

  @media (min-width: $width-tablet) {
    justify-content: center;
    margin-left: 20px;
  }
}

.social__item {
  @include reset-list;

  @media (min-width: $width-tablet) {
    margin-right: 28px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.social__vk,
.social__insta,
.social__fb {
  fill: $color-brownish-grey;

  &:hover {
    fill: $color-leaf;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__vk {
  @media (min-width: $width-tablet) {
    width: 30px;
    height: 16px;
  }
}

.social__insta {
  @media (min-width: $width-tablet) {
    width: 23px;
    height: 23px;
  }
}

.social__fb {
  @media (min-width: $width-tablet) {
    width: 14px;
    height: 28px;
  }
}
