@mixin font-text ($font, $size, $line, $color, $weight: normal) {
  font-family: $font, "Helvetica", sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $line;
  color: $color;
}

@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin position-element {
  //width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $width-tablet) {
    //width: $width-tablet;
    padding: 0 30px;
  }

  @media (min-width: $width-desktop) {
    width: $width-desktop;
    padding: 0 40px;
  }
}

@mixin line {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 5px;
    background: $color-leaf;
    top: 50%;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

@mixin clear-line-element($padding, $color:$color-lightest) {
  position: relative;
  padding: $padding;
  background: $color;
  z-index: 100;
}

@mixin icon-it-works($img) {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    background-color: $color-leaf;
  }

  &::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    top: 5px;
    left: 5px;
    background: url($img);
    background-repeat: no-repeat;
  }

  @media (min-width: $width-tablet) {
    &::before {
      width: 80px;
      height: 80px;
      top: 22px;
      left: 0;
    }

    &::after {
      top: 37px;
      left: 15px;
    }
  }
}
