$primary-font: "Oswald";
$secondary-font: "Arial";

/*
$title-color: #111111;
$title-color-white: #ffffff;
$text-color: #444444;
$title2-color: #222222;
 */
$color-dark: #111111;
$color-lightest: #ffffff;
$color-greyish-brown: #444444;
$color-dark-gray: #222222;
$color-leaf: #63a73a;
$color-light-gray: #f2f2f2;
$color-pinkish-grey: #cdcdcd;

$bg-sections: $color-light-gray;
$bg-promo: $color-leaf;

$width-tablet: 768px;
$width-desktop: 1300px;
