$primary-font: "Oswald";
$secondary-font: "Arial";

$bg-sections: #f2f2f2;
$bg-promo: #63a73a;

$title-color: #111111;
$title-color-white: #ffffff;
$text-color: #444444;
$title2-color: #222222;

$width-tablet: 768px;
$width-desktop: 1300px;
