$font-primary: "Oswald";
$font-secondary: "Arial";

$color-dark: #111111;
$color-lightest: #ffffff;
$color-greyish-brown: #444444;
$color-dark-gray: #222222;
$color-leaf: #63a73a;
$color-light-gray: #f2f2f2;
$color-pinkish-grey: #cdcdcd;
$color-border-menu: #e6e6e6;
$color-border: #d9d9d9;

$bg-sections: $color-light-gray;
$bg-promo: $color-leaf;

$width-tablet: 768px;
$width-desktop: 1280px;
