$font-primary: "Oswald";
$font-secondary: "Arial";

$color-dark: #111111;
$color-lightest: #ffffff;
$color-greyish-brown: #444444;
$color-dark-gray: #222222;
$color-leaf: #63a73a;
$color-grass: #5eaa2f;
$color-light-gray: #f2f2f2;
$color-very-light-pink: #eaeaea;
$color-pinkish-grey: #cdcdcd;
$color-border-menu: #e6e6e6;
$color-border: #d9d9d9;
$color-border-example: #bebebe;
$color-brownish-grey: #666666;
$color-progrees-bar: #dcdcdc;
$color-greyish-brown-30: rgba(68, 68, 68, 0.3);
$color-black-three-30: rgba(17, 17, 17, 0.3);

$bg-sections: $color-light-gray;
$bg-promo: $color-leaf;

$width-tablet: 768px;
$width-desktop: 1300px;

$retina-dppx: 1.5dppx;
