@import "./base/typography";
@import "./base/variabless";
@import "./base/mixins";
@import "./base/layout";
@import "./blocks/academy";
@import "./blocks/add-form";
@import "./blocks/add-item";
@import "./blocks/add-prod";
@import "./blocks/cat";
@import "./blocks/catalog-main";
@import "./blocks/comment";
@import "./blocks/example";
@import "./blocks/extra";
@import "./blocks/food";
@import "./blocks/footer";
@import "./blocks/form-main";
@import "./blocks/header";
@import "./blocks/it-works";
@import "./blocks/legend";
@import "./blocks/logo";
@import "./blocks/nav";
@import "./blocks/offers";
@import "./blocks/offer";
@import "./blocks/owner";
@import "./blocks/page-main";
@import "./blocks/product";
@import "./blocks/products";
@import "./blocks/program";
@import "./blocks/promo";
@import "./blocks/site-list";
@import "./blocks/social";
